.binge-show-wrapper {
  position: relative;
  padding: 5px;
  overflow: hidden;
  transition: height 0.66s ease-out;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;

  .binging-buttons {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  
  .binge {
    background-color: none;
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 0.5em 0.5em 0.75em 0.5em;
  
    img {
      border-radius: 8px;
      border: none;
    }
  }

  .binge:hover {
    background-color: $transparent;
    border-radius: 8px;
  }

  .binge-link {
    display: none;
    background-color: $lightestest-gray;
    border-radius: 4px;

    .a-logo {
      width: 16px;
      height: 16px;
      margin: 0 3px;
    }

    h2 {
      font-size: 16px;
      color: $black;
      font-weight: bold;
      margin: 0 3px;
    }
  }
}

.binge-show-wrapper:hover .binge-link {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  bottom: 25px;
  left: 20px;
  height: 35px;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}