.binge:hover {
  background-color: $transparent;
  border-radius: 8px;
}

.binge:hover .binge-link {
  display: flex;
  margin-bottom: -45px;
}

.binge {
  background-color: none;
  display: inline-block;
  width: 100%;
  padding: 0.5em 0.5em 0.75em 0.5em;
  height: auto;

  img {
    border-radius: 8px;
    border: none;
  }

  .binge-link {
    display: none;
    background-color: $lightestest-gray;
    border-radius: 4px;
    position: relative;
    bottom: 50px;
    left: 10px;
    overflow: hidden;
    height: 40px;
    flex-flow: row nowrap;

    .a-logo {
      width: 16px;
      height: 16px;
      margin: 0 3px;
    }

    h2 {
      font-size: 16px;
      color: $black;
      font-weight: bold;
      margin: 0 3px;
    }
  }
}
