::placeholder {
  color: $gray;
}

.create-board {
  background-color: $white;
  width: 600px;
  border-radius: 8px;

  .board-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $lightest-gray;
    padding: 18px 16px;

    h2 {
      color: $black;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: -0.4px;
      line-height: 28.8px;
      width: 500px;
    }

    div {
      color: $gray;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      vertical-align: middle;
      width: 20px;
      height: 28px;
      cursor: pointer;
      box-sizing: border-box;
    }
  }

  .board-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid $lightest-gray;
    padding: 18px 16px;

    h2{
      color: $black;
      font-size: 16px;
      line-height: 1.2;
      letter-spacing: -.4px;
      font-weight: 400;
    }

    input {
      width: 396px;
      height: 21px;
      border-radius: 4px;
      padding: 8px 14px;
      font-size: 16px;
      font-weight: normal;
      color: $black;
      letter-spacing: -0.4px;
      border-color: $gray;
      border-width: 1px;
      -webkit-font-smoothing: antialiased;
    }

    .board-description {
      width: 396px;
      height: 50px;
      border-radius: 4px;
      padding: 8px 14px;
      font-size: 16px;
      font-weight: normal;
      color: $black;
      letter-spacing: -0.4px;
      border-color: $gray;
      border-width: 1px;
      -webkit-font-smoothing: antialiased;
    }

    .categories {
      width: 426px;
      height: 30px;
      border-radius: 4px;
      font-size: 16px;
      font-weight: normal;
      color: $gray;
      letter-spacing: -0.4px;
      border-color: $gray;
      border-width: 1px;
      -webkit-font-smoothing: antialiased;
    }
  }

  .board-secret {
    padding: 18px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid $lightest-gray;

    .bs-text {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: -0.4px;
      color: $black;
      width: 134px;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;

      input {
        display: none;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $black;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: $white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%
      }

      input:checked + .slider {
        background-color: #2196F3;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
    }
  }

  .board-button-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    padding: 5px 10px;

    button:hover {
      background-color: $lighter-gray;
    }

    button {
      border: none;
      background-color: $lightest-gray;
      font-size: 16px;
      text-align: center;
      font-weight: bold;
      width: 80px;
      height: 40px;
      padding: 0 8px;
      margin: 6px;
      border-radius: 4px;
    }

    .b-submit:hover {
      background-color: $dark-red;
    }
    .b-submit {
      background-color: $light-red;
      color: $white;
    }
  }
}