.follow-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column;
  margin: 20px 50px;
  width: 100vw;

  h2 {
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 0 15px;
  }
}

.following-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
  flex: 1 1 auto;
  margin: 10px;
}

.user-follow-detail:hover {
  background-color: $lightest-gray;
  cursor: pointer;
  border-radius: 8px;
}

.user-follow-detail {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-flow: column;
  flex: 1 1 auto;
  padding: 15px 10px;
}

.picture-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
  position: relative;

  .user-pic {
    object-fit: cover;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 2px solid $white;
    z-index: 1;
    position: absolute;
  }

  .binges-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row nowrap;
    margin: 0 0 0 45px;

    .binges {
      width: 100px;
      height: 100px;
      border-left: 2px solid $white;
      object-fit: cover;
    }

    .placeholder {
      width: 100px;
      height: 100px;
      border-left: 2px solid $white;
      background-color: $light-gray;
    }

    #last {
      border-radius: 0 5px 5px 0;
    }
  }
}

.user-details {
  margin: 5px 0 0 5px;

  h3 {
    font-weight: bold;
  }

  h4 {
    font-size: 14px;
  }
}

.user-follows {
  position: relative;
  margin: 10px 5px;
}

.user-follow-button {
  height: 18px;
  width: 65px;
  padding: 5px;
  background-color: $red;
  color: $white;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -0.4px;
  -webkit-font-smoothing: antialiased;
  box-sizing: content-box;
  border-radius: 4px;
  border: none;
  z-index: 3;
  position: absolute;
  bottom: 15px;
  right: 10px;
}