.nav-bar {
  height: 64px;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: $white;
  border-bottom: 1px solid $light-gray;
  z-index: 100;
}

.nav-bar-box {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  box-sizing: border-box;
  padding: 4px 16px;
  height: 64px;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  box-sizing: content-box;
  align-items: center;
  flex-direction: row;
  border-radius: 4px;
  width: 630px;
  height: 40px;
  background-color: $lightest-gray;
  padding: 0 15px;
  position: relative;

  .search {
    margin: 0 5px;
    width: 20px;
    height: 20px;
    color: $light-gray;
    background-color: transparent;
  }

  input {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    align-items: center;
    vertical-align: middle;
    line-height: 38px;
    margin: 0 5px;
  }
}

.dropdown-container {
  position: absolute;
  background-color: $white;
  width: 660px;
  overflow: hidden;
  border-radius: 8px;
  top: 45px;
  left: 0px;

  .dropdown-categories {
    padding: 5px 15px;
  }
}

.n-logo {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: transparent;
  margin: 0 5px 0 5px;

  img {
    display: block;
    height: 28px;
    width: 28px;
    margin: 10px auto;
  }
}

.right-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: content-box;
  justify-content: flex-end;
  margin-right: 12px;

  .home {
    border-radius: 999px;
    width: 60px;
    height: 27px;
    line-height: 27px;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    font-weight: bold;
    color: $gray;
  }

  .following {
    border-radius: 999px;
    width: 87px;
    height: 27px;
    line-height: 27px;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    font-weight: bold;
    color: $gray;
  }

  .explore {
    border-radius: 999px;
    width: 72px;
    height: 27px;
    line-height: 27px;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    font-weight: bold;
    color: $gray;
  }

  .name-holder {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 27px;
    width: 100px;
    padding: 8px;
    border-radius: 999px;

    .name-tag {
      color: $white;
      background-color: $gray;
      font-weight: bold;
      font-size: 12px;
      line-height: 24px;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      width: 24px;
      height: 24px;
      margin: 0 10px 0 0;
    }

    .name {
      color: $black;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .nav-menu {
    width: 30px;
    height: 30px;
    padding: 8px;
    font-size: 34px;
    border-radius: 999px;
    color: $gray;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 12px;
    position: relative;
  }

  .nav-menu:focus {
    pointer-events: none;
  }

  .nav-menu:focus .dropdown {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }


  .dropdown {
    position: absolute;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s;
    right: -5px;
    top: 50px;
    width: 300px;
    background-color: $white;
    border-radius: 8px;
    box-shadow: $bshadow-alpha 0 2px 10px;
    cursor: pointer;
  }

  li:hover {
    background-color: $lightest-gray;
  }

  .dropdown li {
    border-top: 1px solid $lightest-gray;
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: $black;
    height: 29px;
    width: 273px;
    letter-spacing: -0.4px;
    line-height: 29px;
    vertical-align: middle;
    text-align: left;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    padding: 8px 16px;
  }

  .dropdown li input {
    border: none;
    background-color: $white;
    font-size: 16px;
    color: $black;
    font-weight: bold;
    text-align: left;
    padding: none;
  }
}

.home:hover {
  background-color: $light-gray;
}

.following:hover {
  background-color: $light-gray;
}

.explore:hover {
  background-color: $light-gray;
}

.name-holder:hover {
  background-color: $light-gray;
}

.nav-menu:hover {
  background-color: $light-gray;
}

.cc-icon {
  color: $lightest-gray;
  font-size: 10px;
}
