body {
  background-color: $lightest-gray;
  font-family: $sans-serif;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: image_url('one.png'), image_url('two.png');
  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;

  .infinite {
    width: 100%;
    height: 100%;
  }

  .login-button button:hover {
    background-color: $light-gray;
    cursor: pointer;
  }

  .login-button {
    position: fixed;
    top: 48px;
    right: 24px;

    button {
      border: none;
      background-color: inherit;
      background-color: $lightest-gray;
      border: none;
      box-sizing: content-box;
      border-radius: 4px;
      width: 102px;
      padding: 8px 14px;
      height: 20px;

      h3 {
        font-size: 14px;
        color: $black;
        font-weight: bold;
        font-family: $sans-serif;
      }
    }
  }

  .tags {
    position: fixed;
    bottom: 10px;
    width: 100%;

    .tag-holder {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
    }

    .tag {
      margin-bottom: 6px;
      padding: 4px 7px;
      font-size: 11px;
      color: $white;
      font-weight: normal;
    }
  }
}


.session {
  background-color: $white;
  border-radius: 8px;
  text-align: center;
  width: 400px;
  min-height: 500px;
  box-shadow: $bshadow-alpha 0 2px 10px;

  .session-box {
    padding: 20px 10px;
    margin: 0 auto;

    .logo {
      display: block;
      height: 55px;
      width: 55px;
      margin: 14px auto 0px;

      img {
        height: 40px;
        width: 40px;
        margin: 0 auto;
      }
    }

    .title h3 {
        margin: 0 auto 5px;
        font-size: 28px;
        color: $black;
        font-weight: bold;
        text-align: center;
    }

    .intro h3 {
      font-size: 18px;
      font-weight: bold;
      margin: 5px auto 5px;
      color: $lightish-gray;
    }

    .input-form {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      width: 268px;

      form {
        height: 192px;
        margin: 0 auto;

        .field {
          height: 40px;
          width: 268px;
          margin-bottom: 7px;
          border-radius: 4px;
          border: 1px solid black;
          cursor: text;

          .field:focus {
            border: 2px solid $blue;
          }

          .field-input {
            width: 238px;
            height: 22px;
            border: 1px none;
            font-size: 16px;
            padding: 8px 14px;
            color: $gray;
            letter-spacing: -.4px;
            -webkit-font-smoothing: antialiased;
          }
        }

        .submit {
          margin-top: 10px;
          height: 36px;
          width: 100%;
          display: inline-block;
          border-radius: 4px;
          padding: 0 18px;
          font-size: 15px;
          font-weight: bold;
          color: white;
          text-align: center;
          cursor: pointer;
          vertical-align: middle;
          background-color: $light-red;
        }
        .submit:hover {
          background-color: $light-red;
        }
      }

      p {
        margin: 12px 0 3px 0;
        text-align: center;
        color: $black;
        font-weight: bold;
        font-size: 12px;
      }

      .demo {
        padding: 10px 0 4px 0;
        button {
          height: 40px;
          width: 268px;
          background-color: $blue;
          font-size: 15px;
          font-weight: bold;
          border-radius: 4px;
          color: white;
        }
      }

      .footer {
        margin: 15px 0 0 0;

        h3 {
          color: $dark-gray;
          font-size: 12px;
        }
      }
    }

    .line {
      border-bottom: 1px solid $lighter-gray;
      margin: 10px auto;
      width: 110px;
    }

    .session-choice {
      font-size: 12px;
      font-weight: bold;
      color: $dark-gray;
    }
  }
}
