.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.user-info {
  margin-top: 70px;
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;

  .user-info-box {
    width: 800px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .username {
    color: $black;
    line-height: 1.2;
    letter-spacing: -0.4px;
    -webkit-font-smoothing: antialiased;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    flex-flow: column;
    align-items: center;

    h2 {
      color: $black;
      line-height: 1.2;
      letter-spacing: -0.4px;
      font-size: 36px;
      width: 572px;
      height: 43px;
      padding: 0 12px;
      margin-left: 4px;
    }

    .follow-box {
      height: 36px;
      width: 572px;
      padding: 0 12px;
      margin-left: 4px;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: flex-start;

      h2 {
        font-size: 14px;
        color: $black;
        font-weight: bold;
      }
    }
  }
}

.pf-picture {
  width: 200px;
  height: 130px;

  .user-pf {
    object-fit: cover;
    width: 106px;
    height: 106px;
    border-radius: 50%;
    margin-top: 24px;
    border: 1px solid $gray;
  }

  .standard-pf {
    width: 106px;
    height: 106px;
    margin-top: 24px;
    text-align: center;
    justify-content: center;
    line-height: 100px;
  }
}

.tabs {
  width: 100%;
  height: 44px;
  padding: 0 12px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  .tabs-box {
    width: 800px;
    height: 44px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.tab-header {
  display: flex;
  flex-direction: row;

  li {
    color: $gray;
    padding: 8px 16px;
  }

  li:hover {
    text-decoration: underline;
    color: $black;
    font-weight: bold;
  }

  .active {
    border-radius: 999px;
    color: $black;
    background-color: $lightest-gray;
    font-weight: bold;
  }
}

.user-profile-content {
  width: 100%;

  .public-content {
    width: 100%;
    margin: 24px 12px 24px 12px;
  }
}

// .private-content {
//   width: 100%;
//   height: 305px;
//   display: flex;
//   justify-content: center;
//   align-items: flex-start;
//   background-color: $lightestest-gray;
//
//   .secret-content {
//     color: $black;
//     font-size: 14px;
//     font-weight: 700;
//     letter-spacing: -0.4px;
//     line-height: 1.2;
//     text-align: left;
//     word-wrap: break-word;
//     -webkit-font-smoothing: antialiased;
//   }
// }
